.scene-1 {
    width: 360px;
    height: 525px;
    background:rgb(15, 209, 199);
    background-image: none;
}

.box-scene-1 {
    align-items: center;
    width: 100%;
    height: 100px;
    margin-left: 0;
}

.logo-sports {
    margin-top: 32px;
}

.title-scene-1 {
    width: 320px;
    height: 119px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 88px;
}

.text-scene-1 {
    width: 320px;
    height: auto;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #4F4F4F;
    height: 70px;
    margin-top: 33px;
}

.buttons-download {
    width: 320px;
}

.scene-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
    height: auto;
    background-image: none;
}

.box-left-scene-2-desktop {
    display: none;
}

.box-text-scene-2 {
    justify-content: flex-start;
    width: 320px;
    height: 100%;
}

.blue-text-1-scene-2 {
    width: 320px;
    text-align: center;

    margin-top: 54px;
}

.title-scene-2 {
    width: 320px;
    height: 74px;
    text-align: center;
}

.text-scene-2 {
    width: 320px;
    height: 208px;
    text-align: center;

    margin-top: 20px;
}

.blue-text-2-scene-2 {
    width: 320px;
    height: 22px;
    text-align: center;

    margin-top: 19px;
}

.box-2-scene-2-max480 {
    position: relative;
    display: block;
    background-image: url(../images/back-scene-2-max480.jpg);
    background-size: cover;
    width: 360px;
    height: 360px;
}

.filter-scene-2-max480 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #FFFFFF 5.16%,
     rgba(255, 255, 255, 0) 67.14%),
     rgba(255, 255, 255, 0.5);
    transform: rotate(-90deg);

}

.image-scene-2-max480 {
    position: relative;
    width: 320px;
    height: 278px;
    background-image: url(../svg/image-scene-2-max480.svg);
    background-position: center;
    transform: rotate(90deg);
    margin-left: -30px;
}


