@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #333333;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
    position: relative;
}

.column {
    flex-direction: column;
}

.row-wrap {
    flex-flow: row wrap;    
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-content: flex-start;
}

.items-end {
    align-items: flex-end;
}

.scene-1 {
    width: 1440px;
    height: 665px;
    background: #F4F6F9;;
    background-position: right;
    background-image: url(../images/back-scene-1.jpg);
    background-repeat: no-repeat;
}

.box-scene-1 {
    width: 546px;
    height: 100%;
    margin-left: 163px;
}

.logo-sports {
    width: 99px;
    height: 32px;
    margin-top: 61px;
}

.title-scene-1 {
    width: 546px;
    height: 96px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    color: #333333;
    margin-top: 133px;
}

.text-scene-1 {
    width: 453px;
    height: 52px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    margin-top: 30px;}

.buttons-download {
    width: 348px;
    height: 47px;
    margin-top: 50px;
}

.btn-single {
    width: 145.69px;
    height: 47px;
}

.scene-2 {
    width: 1440px;
    height: 592px;
    background-color: #ffffff;
}

.box-left-scene-2-desktop {
    width: 805px;
    height: 100%;
    background-image: url(../svg/filter-scene-2.svg), url(../images/back-scene-2.jpg);
}

.image-down-scene-2-desktop {
    background-image: url(../images/image-down-scene.jpg);
    background-size: cover;
    width: 360px;
    height: 209px;
    margin-top: 296px;
    margin-left: 269px;
    box-shadow:  -5px 2.5px 8.57175px #5a5c5f,
     -6.73495px 19.5926px 24.4907px #555252;
    filter: drop-shadow(-22.0416px 23.8785px 48.9814px rgba(68, 66, 66, 0.5));
}

.image-up-scene-2-desktop {
    position: absolute;
    background-image: url(../svg/image-up-scene.svg);
    background-position: top right;
    width: 470px;
    height: 300px;
    margin-top: 90px;
    margin-left: 80px;
}

.box-text-scene-2 {
    width: 426px;
    height: 100%;
}

.blue-text-1-scene-2 {
    width: 100%;
    height: 22px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;

    margin-top: 133px;
}

.title-scene-2 {
    width: 426px;
    height: 37px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;

    margin-top: 27px;
}

.text-scene-2 {
    width: 407px;
    height: 185px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;

    margin-top: 91px;
}

.blue-text-2-scene-2 {
    width: 582px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;

    margin-top: 22px;
}

.box-2-scene-2-max480 {
    display: none;
}

.scene-3 {
    width: 1440px;
    height: 592px;
    background-image: url(../images/back-scene-3.jpg);
}

.box-text-scene-3 {
    width: 426px;
    height: 100%;
    margin-left: 162px;
}

.blue-text-1-scene-3 {
    width: 100%;
    height: 22px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;

    margin-top: 133px;
}

.title-scene-3 {
    width: 426px;
    height: 37px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;

    margin-top: 27px;
}

.text-scene-3 {
    width: 407px;
    height: 185px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;

    margin-top: 91px;
}

.blue-text-2-scene-3 {
    width: 582px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;

    margin-top: 22px;
}

.box-2-scene-3-max480 {
    display: none;
}

.scene-4 {
    flex-flow: row wrap;
    background-image: url(../images/back-scene-4.jpg);
    width: 1716px;
    height: 735px;
    padding: 76px 164px 0;
}

.title-scene-4 {
    width: 100%;
    height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 54px;
    padding-left: 311px;
}

.box-scene-4 {
    width: 410px;
    height: 189px;
}

.icon-box-scene-4 {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

#box-1-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-1-scene-4.svg);
}

#box-2-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-2-scene-4.svg);
}

#box-3-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-3-scene-4.svg);
}

#box-4-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-4-scene-4.svg);
}

#box-5-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-5-scene-4.svg);
}

#box-6-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-6-scene-4.svg);
}

#box-7-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-7-scene-4.svg);
}

#box-8-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-8-scene-4.svg);
}

#box-9-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-9-scene-4.svg);
}

.text-box-scene-4 {
    width: 311px;
    height: 116px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.text-box-scene-4 p::before {
    content: "\2022 \0020";
}









