body {
    width: 100%;
}

.scene-1 {
    height: 525px;
    background-image: none;
    padding: 0 20px;
}

.box-scene-1 {
    align-items: center;
    margin-left: 0;
    width: 100%;
}

.logo-sports {
    justify-content: center;
    margin-top: 32px;
}

.title-scene-1 {
    width: 100%;
    max-width: 600px;
    height: 119px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 88px;
}

.text-scene-1 {
    width: 100%;
    max-width: 600px;
    height: auto;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #4F4F4F;
    height: 70px;
    margin-top: 33px;
}

.buttons-download {
    width: 320px;
}

.scene-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: none;
    padding: 0 20px;
}

.box-left-scene-2-desktop {
    display: none;
}

.box-text-scene-2 {
    width: 100%;
    align-items: center;
    height: auto;
}

.blue-text-1-scene-2 {
    justify-content: center;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-top: 54px;
}

.title-scene-2 {
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
    height: 74px;
    text-align: center;
}

.text-scene-2 {
    width: 100%;
    max-width: 600px;
    height: 208px;
    text-align: center;
    margin-top: 20px;
}

.blue-text-2-scene-2 {
    width: 100%;
    max-width: 600px;
    height: 22px;
    text-align: center;
    margin-top: 19px;
}

.box-2-scene-2-max480 {
    position: relative;
    display: block;
    background-image: url(../images/back-scene-2-max480.jpg);
    background-size: cover;
    width: 360px;
    height: 360px;
}

.filter-scene-2-max480 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #FFFFFF 5.16%,
     rgba(255, 255, 255, 0) 67.14%),
     rgba(255, 255, 255, 0.5);
    transform: rotate(-90deg);

}

.image-scene-2-max480 {
    position: relative;
    width: 320px;
    height: 278px;
    background-image: url(../svg/image-scene-2-max480.svg);
    background-position: center;
    transform: rotate(90deg);
    margin-left: -30px;
}

.scene-3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    background-image: none;
    padding: 0 20px;
}

.box-text-scene-3 {
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin-left: 0;
}

.blue-text-1-scene-3 {
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 62px;
}

.title-scene-3 {
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 27px;
    
}

.text-scene-3 {
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 208px;
    text-align: center;
    margin-top: 27px;
}

.blue-text-2-scene-3 {
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 22px;
    margin-top: 25px;
}

.box-2-scene-3-max480 {
    display: flex;
    background-image: url(../images/back-scene-3-max480.jpg);
    width: 360px;
    height: 600px;
}

.scene-4 {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-image: none;
    width: 100%;
    height: auto;
    background: #FAFAFA;
    padding: 0 20px;
}

.title-scene-4 {
    width: 318px;
    height: 74px;
    text-align: center;
    color: #333333;
    margin: 40px 0 0 0;
    padding-left: 0;
}

.container-scene-4 {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}

.box-scene-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 50px;
}

#box-2-scene-4,
#box-5-scene-4,
#box-8-scene-4 {
    margin-left: 0;
    margin-right: 0;
}

.icon-box-scene-4 {
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

#box-1-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-1-scene-4-max480.svg);
}

#box-2-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-2-scene-4-max-480.svg);
}

#box-3-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-3-scene-4-max480.svg);
}

#box-4-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-4-scene-4-max480.svg);
}

#box-5-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-5-scene-4-max480.svg);
}

#box-6-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-6-scene-4-max480.svg);
}

#box-7-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-7-scene-4-max480.svg);
}

#box-8-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-8-scene-4-max480.svg);
}

#box-9-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-9-scene-4-max480.svg);
}

.text-box-scene-4 {
    width: 311px;
    height: auto;
    text-align:center;
    color: #4F4F4F;
}

.text-box-scene-4 p::before {
    content: none;
}

.scene-5 {
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    height: 465px;
}

.title-scene-5 {
    width: 260px;
    height: 37px;
    margin-top: 0;
    margin-top: 119px;
}

.title-scene-5 span {
    margin-left: 0;
}

.box-full-scene-5 {
    width: 309px;
    height: 161px;
    margin-right: 0;
}

.container-scene-5 {
    justify-content: center;
    margin-top: 39px;
}

.container-btn-scene-5 {
    position: absolute;
    justify-content: flex-end;
    width: 360px;
    height: auto;
    top: 50px;
    padding: 0;
}

#box-1-scene-5,
#box-2-scene-5,
#box-4-scene-5,
#box-5-scene-5,
.btn-left-scene-5 {
    display: none;
}

.box-bottom-scene-5 {
    margin-top: 33px;
}

.scene-6 {
    width: 100%;
    height: 409px;
    background: #FAFAFA;
}

.title-scene-6 {
    margin-top: 57px;
}

.box-scene-6 {
    display: none;
}

.container-1-scena-6,
.container-2-scena-6 {
    display: flex;
    justify-content: space-between;
    width: max-content;
    height: max-content;
    margin-top: 43px;
}

.container-2-scena-6 {
    margin-top: 20px;
}

.img-1-scene-6-max480 {
    display: flex;
    width: 147px;
    height: 49px;
    background-image: url(../svg/img-1-scene-6-max480.svg);
    margin-right: 70px;
    margin-top: auto;
}
.img-2-scene-6-max480 {
    display: flex;
    width: 102px;
    height: 49px;
    background-image: url(../svg/img-2-scene-6-max480.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: auto;
}
.img-3-scene-6-max480 {
    display: flex;
    align-self: flex-start;
    width: 100px;
    height: 58px;
    background-image: url(../svg/img-3-scene-6-max480.svg);
    background-repeat: no-repeat;
    margin-top: 0;
}
.img-4-scene-6-max480 {
    display: flex;
    width: 150px;
    height: 58px;
    background-image: url(../svg/img-4-scene-6-max480.svg);
    background-repeat: no-repeat;
    background-position: center left;
    margin-top: 0;
}

.img-5-scene-6-max480 {
    display: flex;
    width: 48px;
    height: 48px;
    background-image: url(../images/img-5-scena-6-max480.jpg);
    background-repeat: no-repeat;
    margin-top: 0;
}

.img-6-scene-6-max480 {
    display: flex;
    width: 210px;
    height: 34px;
    background-image: url(../svg/img-6-scene-6-max480.svg);
    margin: 40px 0 0 10px;
}

.scene-7 {
    width: 100%;
    height: 700px;
    background-image: none;
    padding: 0 20px;
}

.box-scene-7 {
    align-items: center;
    width: 100%;
    height: auto;
    margin-left: 0;
}

.title-scene-7 {
    justify-content: center;
    width: 100%;
    max-width: 600px;
    height: 74px;
    font-size: 28px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 20px;
}

.text-scene-7 {
    width: 100%;
    max-width: 600px;
    height: auto;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #4F4F4F;
    margin-top: 15px;
}

.buttons-download {
    width: 320px;
    margin-top: 37px;
}

.box-2-scene-7-max480 {
    position: relative;
    display: flex;
    background-image: url(../svg/back-scene7-max480.svg);
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 46px;
}

footer {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 210px;
    padding: 0 20px 20px 20px;
}

.navbar-footer {
    width: 321px;
    height: 22px;
} 






