@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%; 
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #333333;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
    position: relative;
}

.column {
    flex-direction: column;
}

.row-wrap {
    flex-flow: row wrap;    
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-content: flex-start;
}

.items-end {
    align-items: flex-end;
}

aside {
    position: fixed;
    z-index: 2;
    width: 767px;
    height: 499px;
    top: 0;
    right: 0;
    background-color: black;
    background-image: url(../svg/back-aside-filter-2.svg), url(../svg/back-aside-filter-1.svg), url(../images/back-aside.jpg);
    scale: 0.3;
    transform-origin: right top;
    transition: all 0.8s 0.1s ease-in-out; 
}

aside:hover {
    transform: scale(3);
}

.box-aside {
    width: 546px;
    height: 100%;
    margin-left: 58px;
}

.title-aside {
    display: flex;
    align-items: flex-end;
    width: 499px;
    height: 96px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    margin-top: 220px;
}

.text-aside {
    width: 554px;
    height: 70px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #333333;
    margin-top: 9px;
}

.button-aside {
    width: 116.56px;
    height: 35px;
    background-image: url(../svg/button-aside.svg);
    margin-top: 14px;
}

.scene-1 {
    width: 100%; 
    height: 665px;
    background: #F4F6F9;
    background-position: right;
    background-image: url(../svg/back-scene-1.svg);
    background-repeat: no-repeat;
}

.box-scene-1 {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin-left: 163px;
}

.logo-sports {
    width: 99px;
    height: 32px;
    margin-top: 61px;
}

.title-scene-1 {
    width: 100%;
    max-width: 600px;
    height: 96px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    color: #333333;
    margin-top: 133px;
}

.text-scene-1 {
    width: 100%;
    max-width: 600px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    margin-top: 30px;}

.buttons-download {
    width: 348px;
    height: 47px;
    margin-top: 50px;
}

.btn-single {
    width: 145.69px;
    height: 47px;
}

.scene-2 {
    width: 100%; 
    height: 592px;
    background-color: #ffffff;
}

.box-left-scene-2-desktop {
    width: 805px;
    height: 100%;
    background-image: url(../svg/filter-scene-2.svg), url(../images/back-scene-2.jpg);
}

.image-down-scene-2-desktop {
    background-image: url(../images/image-down-scene.jpg);
    background-size: cover;
    width: 360px;
    height: 209px;
    margin-top: 296px;
    margin-left: 269px;
    box-shadow:  -5px 2.5px 8.57175px #5a5c5f,
     -6.73495px 19.5926px 24.4907px #555252;
    filter: drop-shadow(-22.0416px 23.8785px 48.9814px rgba(68, 66, 66, 0.5));
}

.image-up-scene-2-desktop {
    position: absolute;
    background-image: url(../svg/image-up-scene.svg);
    background-position: top right;
    width: 470px;
    height: 300px;
    margin-top: 90px;
    margin-left: 80px;
}

.box-text-scene-2 {
    width: 100%; 
    max-width: 800px;
    margin-left: 200px;
    height: 100%;
}

.blue-text-1-scene-2 {
    width: 100%; 
    height: 22px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;

    margin-top: 133px;
}

.title-scene-2 {
    width: 100%; 
    height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;

    margin-top: 27px;
}

.text-scene-2 {
    width: 100%; 
    height: 185px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;

    margin-top: 91px;
}

.blue-text-2-scene-2 {
    width: 100%; 
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;

    margin-top: 22px;
}

.box-2-scene-2-max480 {
    display: none;
}

.scene-3 {
    width: 100%;
    height: 716px;
    background-image: url(../images/back-scene-3.jpg);
}

.box-text-scene-3 {
    width: 426px;
    height: 100%;
    margin-left: 162px;
}

.blue-text-1-scene-3 {
    width: 100%;
    height: 22px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;

    margin-top: 133px;
}

.title-scene-3 {
    width: 426px;
    height: 37px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;

    margin-top: 27px;
}

.text-scene-3 {
    width: 407px;
    height: 185px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4F4F4F;

    margin-top: 91px;
}

.blue-text-2-scene-3 {
    width: 582px;
    height: 22px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #00ADEE;

    margin-top: 22px;
}

.box-2-scene-3-max480 {
    display: none;
}

.scene-4 {
    flex-flow: row wrap;
    background-image: url(../images/back-scene-4.jpg);
    width: 100%;
    height: 735px;
    
}

.title-scene-4 {
    width: 100%;
    height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 54px;
    
}

.box-scene-4 {
    width: 311px;
    height: 189px;
}

#box-2-scene-4,
#box-5-scene-4,
#box-8-scene-4 {
    margin-left: 100px;
    margin-right: 80px;
}

.icon-box-scene-4 {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

#box-1-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-1-scene-4.svg);
}

#box-2-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-2-scene-4.svg);
}

#box-3-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-3-scene-4.svg);
}

#box-4-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-4-scene-4.svg);
}

#box-5-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-5-scene-4.svg);
}

#box-6-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-6-scene-4.svg);
}

#box-7-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-7-scene-4.svg);
}

#box-8-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-8-scene-4.svg);
}

#box-9-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-9-scene-4.svg);
}

.text-box-scene-4 {
    width: 311px;
    height: 116px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}

.text-box-scene-4 p::before {
    content: "\2022 \0020";
}

.scene-5 {
    flex-flow: row wrap;
    width: 100%;
    height: 431px;
}

.title-scene-5 {
    justify-content: center;
    width: 100%;
    height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-top: 68px;
}

.title-scene-5 span {
    margin-left: 10px;
}

.box-full-scene-5 {
    width: 309px;
    height: 161px;
    margin-right: 36px;
}

.box-scene-5 {
    align-items:baseline;
}

#box-1-scene-5 {
    width: 134px;
    height: 161px;
    background-image: url(../svg/box-1-scene-5.svg);
    margin-right: 36px;
}

#box-2-scene-5 {
    background-image: url(../svg/box-2-scene-5.svg);
}

#box-3-scene-5 {
    background-image: url(../svg/box-3-scene-5.svg);
}

#box-4-scene-5 {
    background-image: url(../svg/box-4-scene-5.svg);
}

#box-5-scene-5 {
    width: 180px;
    height: 161px;
    background-image: url(../svg/box-5-scene-5.svg);
}

.box-bottom-scene-5 {
    justify-content: center;
    width: 100%;
    height: auto;
}

.bullet-scene-5 {
    background-image: url(../svg/box-bottom-scene-5.svg);
    width: 143px;
    height: 11px;
    margin-left: 20px;
}

.btn-left-scene-5 {
    background-image: url(../svg/btn-left-scene-5.svg);
    position: absolute;
    width: 70px;
    height: 70px;
    left: 90px;
    top: 215px;
    background-position: left;

}

.btn-right-scene-5 {
    background-image: url(../svg/btn.right-scene-5.svg);
    position: absolute;
    width: 70px;
    height: 70px;
    left: 1270px;
    top: 210px;
    background-position: left;
}

.scene-6 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1440px;
    height: 278px;
    background: #FAFAFA;
}

.title-scene-6 {
    width: 320px;
    height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    color: #333333;
    margin-top: 51px;
}

.box-scene-6 {
    width: max-content;
    height: max-content;
    margin-top: 58px;
}

.sponsor-scene-6 {
    background-image: url(../svg/box-scene-6.svg);
    width: 1081px;
    height: 58px;   
}

.container-1-scena-6,
.container-2-scena-6 {
    display: none;
}

.img-1-scene-6-max480,
.img-2-scene-6-max480,
.img-3-scene-6-max480,
.img-4-scene-6-max480,
.img-5-scene-6-max480,
.img-6-scene-6-max480 {
    display: none;
}

.scene-7 {
    width: 1440px;
    height: 483px;
    background: #F4F6F9;
    background-position: left;
    background-image: url(../svg/back-scene-7.svg);
    background-repeat: no-repeat;
}

.box-scene-7 {
    width: 546px;
    height: 100%;
    margin-left: 743px;
}

.title-scene-7 {
    width: 554px;
    height: 37px;
    left: 743px;
    top: 3522px;
    font-size: 28px;
    line-height: 37px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    color: #333333;
    margin-top: 100px;
}

.text-scene-7 {
    width: 535px;
    height: 125px;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    color: #4F4F4F;
    margin-top: 30px;
}

.buttons-download {
    width: 348px;
    height: 47px;
    margin-top: 38px;
}

.btn-single {
    width: 145.69px;
    height: 47px;
}

.box-2-scene-7-max480 {
    display: none;
}

footer {
    justify-content: space-between;
    align-items: center;
    padding: 0 163px;
    width: 1440px;
    height: 127px;
    background: #00ADEE;
}

footer
.logo-sports {
    margin-top: 0;
}

#social-footer-max480 {
    display: none;
}

.list-footer {
    justify-content: space-between;
    width: 375px;
    height: 22px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.social-footer {
    justify-content: space-between;
    width: 120px;
    height: auto;
}

.icon-footer {
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
}

.icon-tweetter-footer {
    background-image: url(../icon/icon-twitter.svg);
}

.icon-facebook-footer {
    background-image: url(../icon/icon-facebook.svg);
}

.icon-instagram-footer {
    background-image: url(../icon/icon-instagram.svg);
}




