@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    color: #333333;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
    position: relative;
}

.column {
    flex-direction: column;
}

.row-wrap {
    flex-flow: row wrap;    
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-content: flex-start;
}

.items-end {
    align-items: flex-end;
}

.scene {
    flex-direction: column;
    width: 1440px;
}

.scene-1 {
    height: 665px;
    padding: 0 0 0 163px;
    background: /*#F4F6F9;*/yellow;
    background-position: right;
    background-image: url(../svg/back-scene-1.svg);
    background-repeat: no-repeat;
}

.logo-sports {
    width: 99px;
    height: 238px;
    padding-top: 55px;
    }

.container-text {
    width: 550px;
    height: 180px;
    background-color: aliceblue;
}

.title {
    width: 546px;
    height: 96px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    color: #333333;
    background-color: violet;
}

.text {
    width: 453px;
    height: 52px;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #4F4F4F;
    background-color: yellowgreen;
    }

.buttons-download {
    width: 320px;
    height: 270px;
    padding-bottom: 59px;
}

.btn-single {
    width: 145.69px;
    height: 44px;
}

.scene-2 {
    height: 592px;
    background-color: #ffffff;
    background-position: left;
    background-repeat: no-repeat;
}

.box-1-scene-2-desk {
    background-image: url(../svg/back-scene-2.svg);
    overflow: hidden;
    width: 720px;
    height: 592px;
    border: solid 1px black;
}

.blue-text {
    width: 320px;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #00ADEE;
}

.blue-text-1-scene-2 {
    height: 108px;
    padding-top: 55px;
}

.title {
    width: 546px;
    height: 96px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.03em;
    color: #333333;
    background-color: violet;
}

.container-text-scene-2 {
    height: 290px;
    background-color: yellow;
}

.title-scene-2 {
    height: 74px;
    font-size: 28px;
    line-height: 37px;
}

.blue-text-2-scene-2 {
    width: 320px;
    height: 70px;
    padding-top: 32px;
}













