body {
    width: 360px;
}
.scene-1 {
    width: 360px;
    height: 525px;
    background-image: none;
}

.box-scene-1 {
    align-items: center;
    width: 100%;
    height: 100px;
    margin-left: 0;
}

.logo-sports {
    margin-top: 32px;
}

.title-scene-1 {
    width: 320px;
    height: 119px;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 88px;
}

.text-scene-1 {
    width: 320px;
    height: auto;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #4F4F4F;
    height: 70px;
    margin-top: 33px;
}

.buttons-download {
    width: 320px;
}

.scene-2 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
    height: auto;
    background-image: none;
}

.box-left-scene-2-desktop {
    display: none;
}

.box-text-scene-2 {
    justify-content: flex-start;
    width: 320px;
    height: 100%;
}

.blue-text-1-scene-2 {
    width: 320px;
    text-align: center;
    margin-top: 54px;
}

.title-scene-2 {
    width: 320px;
    height: 74px;
    text-align: center;
}

.text-scene-2 {
    width: 320px;
    height: 208px;
    text-align: center;

    margin-top: 20px;
}

.blue-text-2-scene-2 {
    width: 320px;
    height: 22px;
    text-align: center;

    margin-top: 19px;
}

.box-2-scene-2-max480 {
    position: relative;
    display: block;
    background-image: url(../images/back-scene-2-max480.jpg);
    background-size: cover;
    width: 360px;
    height: 360px;
}

.filter-scene-2-max480 {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(270deg, #FFFFFF 5.16%,
     rgba(255, 255, 255, 0) 67.14%),
     rgba(255, 255, 255, 0.5);
    transform: rotate(-90deg);

}

.image-scene-2-max480 {
    position: relative;
    width: 320px;
    height: 278px;
    background-image: url(../svg/image-scene-2-max480.svg);
    background-position: center;
    transform: rotate(90deg);
    margin-left: -30px;
}

.scene-3 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
    height: auto;
    background-image: none;
}

.box-text-scene-3 {
    justify-content: flex-start;
    width: 320px;
    height: 100%;
    margin-left: 0;
}

.blue-text-1-scene-3 {
    width: 320px;
    text-align: center;

    margin-top: 54px;
}

.title-scene-3 {
    justify-content: center;
    width: 320px;
    height: 74px;
    
}

.text-scene-3 {
    width: 320px;
    height: 208px;
    text-align: center;

    margin-top: 20px;
}

.blue-text-2-scene-3 {
    width: 320px;
    height: 22px;
    text-align: center;

    margin-top: 19px;
}

.box-2-scene-3-max480 {
    display: flex;
    background-image: url(../images/back-scene-3-max480.jpg);
    width: 360px;
    height: 600px;
}

.scene-4 {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    background-image: none;
    width: 360px;
    height: auto;
    background: #FAFAFA;
    padding: 0;
}

.title-scene-4 {
    width: 318px;
    height: 74px;
    text-align: center;
    color: #333333;
    margin-top: 40px;
    margin-bottom: 0;
    padding-left: 0;
}

.box-scene-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 311px;
    height: auto;
    margin-top: 50px;
}

.icon-box-scene-4 {
    position: relative;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

#box-1-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-1-scene-4-max480.svg);
}

#box-2-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-2-scene-4-max-480.svg);
}

#box-3-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-3-scene-4-max480.svg);
}

#box-4-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-4-scene-4-max480.svg);
}

#box-5-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-5-scene-4-max480.svg);
}

#box-6-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-6-scene-4-max480.svg);
}

#box-7-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-7-scene-4-max480.svg);
}

#box-8-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-8-scene-4-max480.svg);
}

#box-9-scene-4 .icon-box-scene-4 {
    background-image: url(../svg/icon-box-9-scene-4-max480.svg);
}

.text-box-scene-4 {
    width: 311px;
    height: auto;
    text-align: center;
    color: #4F4F4F;
}

.text-box-scene-4 p::before {
    content: none;
}
